#scatterplot {
	padding-top:50px;
}

.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
	cursor:pointer;
    fill: steelblue;
}

.outlier {
	background-color:#000;
	opacity: 0.4;
	border: 2px solid red;
}

/**Where is the histogram CSS?*/
#histogramVis {
	position: absolute;
}

#histogramOutliers {
	position:relative;
}

#histogramOutliers svg g .bar_group_outliers .bar {
	opacity:.6;
}

svg {
	padding:20px;
}

#cutoffTable {
	height:540px;
	width:100%;
	overflow: auto;
	
}

#cutoffTable tr th {
	padding-right: 5px;
}
#cutoffTable tr {
	border-bottom:1px solid #ddd;
}
 