#scatterplot {
	padding-top:50px;
}

.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
	cursor:pointer;
    fill: steelblue;
}

.outlier {
	opacity: 0.7;
	border: 1px solid red;
}