#scatterplot {
	padding-top:50px;
}

.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
	cursor:pointer;
    fill: steelblue;
}

.outlier {
	background-color:#000;
	opacity: 0.4;
	border: 2px solid red;
}

/**Where is the histogram CSS?*/
#histogramVis {
	position: absolute;
}

#histogramOutliers {
	position:relative;
}

svg {
	padding:20px;
}
 