// Core variables and mixins
@import "bootstrap";


// General Definitions
.btn{
	border-radius: 0;
}

.shadow{
	-webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
	-moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
	box-shadow: 0 0px 12px rgba(58, 51, 46, 0.26);
}

.pagination{
	.currentStep{
		background-color: #dddddd;
	}
}

// Login Screen
.login-container{
	@extend .shadow;

	border: 1px solid black;
	padding: 20px;
	background-color: #eee;
}
  
// Equipment Index
.parse-btn{
	color: white;
	padding: 5px;
	background-color: darkseagreen;
	border-radius: 5px;
}




// User Index

.user-view{
	color: white;
	padding: 5px;
	background-color: cornflowerblue;
	border-radius: 5px;
}

.user-delete{
	color: white;
	padding: 5px;
	background-color: lightcoral;
	border-radius: 5px;
}

// Results plate table
.results-z-prime-excellent {
	color: green;
}

.results-z-prime-acceptable {
	color: orange;
}

.results-z-prime-unacceptable {
	color: red;
}
